<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Create new cocktail', new_cocktail_path, class: 'navbar-lewagon navbar-collapse' %>
      </li>
    </ul>
  </div>
</div>

<div class='banner'>
  <h1> All cocktails</h1>
</div>

<div class='cocktail-container'>
  <% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 30rem;">
    <%= image_tag "cocktails.jpg", class: 'card-img-top' %>
    <div class="card-body">
      <%=link_to cocktail.name, cocktail_path(cocktail), class: 'card-text' %>
    </div>
  </div>
  <% end %>
</div>
