<h3><%= @cocktail.name %></h3>
<% @cocktail.doses.each do |dose| %>
  <p>
    <%= "#{dose.ingredient.name} - #{dose.description}" %>
    <%= link_to 'Delete', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?"} %>
  </p>
<% end %>

<p><%= link_to 'Add an ingrdient', new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to 'Back', cocktails_path %></p>
